# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db



# docs
docs/generate_diagrams.py
docs/generate_docx_report.py
docs/generate_pdf_report.py
docs/arquitectura_modelo.docx
